.email-val-button {
  margin: 20px;
  background-color: red;
  border-color: purple;
}

.input {
  margin-left: 200px;
}

#thanks {
  margin-left: 200px;
  font-size: 25px;
  font-family: cursive;
}

#emailmsg {
  margin-left: 200px;
  font-size: 25px;
  font-family: cursive;
}