@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

.header img {
  width: 100vw;
  position: relative;
  }

.cards-container {  
  width: 98vw;    
  height:17vw;         
  position: absolute;
  z-index: 2;
  top: 49vw; 
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center; 
 }

 .card {
  display: inline-block;
  position: relative;
  margin: 1vw auto;
  width: 15vw;
  height: 15vw;
  z-index: 1;
 }

.main {
  font-family: 'Amatic SC', cursive;
  font-size: 4.5vw;
  font-weight: bold;
  margin: 0 auto;
  color: red;
  position: absolute;
  top: 9vw;
  left: 9vw;
}

.inner_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

.card:hover .inner_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid black;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: gray;
}

.homepage-container img {
  width: 100vw;
}

.background {
  background-color: black;
  opacity: 0.25;
  height: 17vw;
  width: 100vw;
  position: absolute;
}

.card_image {
  filter: brightness(85%);
}

@media (max-width: 600px) {
  .inner_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
  }
  .small {
    display: none;
  }
}





