@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

.sketch-font {
  font-family: 'Gochi Hand', cursive;
  padding-left: 20px;
  font-size: 3vw;
  color: #3F51B5;
}

.sketch-img {
  position: relative;
  width: 100%;
}