@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

.sketch-font {
  font-family: 'Gochi Hand', cursive;
  padding-left: 20px;
  font-size: 3vw;
  color: #3F51B5;
}

.sketch-img {
  position: relative;
  width: 100%;
  height: 142px;
  background-image: url(/images/crayons-in-a-row.jpg);
  background-repeat: repeat-x;
  z-index: 0;
}

#colors-demo a {
  display: inline-block;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.colors-text {
  font-family: 'Gochi Hand', cursive;
  padding-left: 20px;
  font-size: 2vw;
  color: #3F51B5;

}
