@import url('https://fonts.googleapis.com/css?family=Lobster');


.todo-container {
  font-family: 'Lobster', cursive;
  min-width: 650px;
  width: 650px;
  background-color: #3F51B5;
  min-height: 100px;
  margin: 0 auto;
  margin-top: 10px;
  .title-row {
    text-align: center;
  }
}

.todo-body {
  background-color: #3F51B5;
}

  .todo {
    font-size: 24px;
    padding: 12px 0px 0px 35px;
    height: 55px;
    color: #1DE9B6; 
    background-color: #3F51B5;
    &.completed {
      background-color: inherit;
    }
    &.completed .todo-title {
      color: #1DE9B6;
      text-decoration: line-through;
    }
  }
  
  .close{
    padding-right: 35px;
    color: black;
    
  } 
  .btn {
    background-color: #1DE9B6;
    color: white;
  }

  h1 {
    color: #1DE9B6;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: #5f2890;
    border-color: black;
}

.add-input {
  background-color: #9FA8DA;
  border: none;
}

