{{!< default}}
<div id="root"></div>
<img class="header" src ="/images/20141207-DSC07932 copy.jpg">

<h1 class="main">Laurie Linz Software Developer</h1>
</img>
<nav></nav>
<div class="cards-container">
  <div class="background"></div>
  <div class="card">
    <div class="col-sm-6" id="f1_container">
      <div id="f1_card" class="shadow">
        <div class="front face">
          <img src="http://pictures.dealer.com/b/boyerchevroletlindsaytc/0557/a2385b2332141e2f90adb0645a0fda6dx.jpg"/>
        </div>
        <div class="back face center">
          <p>Vanilla JS</p>
          <p>A little about the project.<a href="/pages/todo.html">ToDo</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6" id="f1_container">
      <div id="f1_card" class="shadow">
        <div class="front face">
          <img src="https://lh3.googleusercontent.com/-MASnAN8JRVs/VQ0rfL-NDOI/AAAAAAAADX8/DyWMRSTQpo0/s426/globe.gif"/>
        </div>
        <div class="back face center">
          <p>MultiMedia is fun</p>
          <p>A little about the project.<a href="/pages/MultiMedia.html">Multimedia</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6" id="f1_container">
      <div id="f1_card" class="shadow">
        <div class="front face">
          <img src="http://devfloat.net/wp-content/uploads/2016/03/Gravity-Free-SVG-Icon.jpg"/>
        </div>
        <div class="back face center">
          <p>D3 example</p>
          <p>A little about project.<a href="/pages/threeExample.html">THREE example</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6" id="f1_container">
      <div id="f1_card" class="shadow">
        <div class="front face">
          <img src="https://image.freepik.com/free-icon/increasing-stocks-graphic_318-55120.jpg"/>
        </div>
        <div class="back face center">
          <p>THREE JS</p>
          <p>A little about the project.<a href="/pages/threeExample.html">THREE JS</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6" id="f1_container">
      <div id="f1_card" class="shadow">
        <div class="front face">
          <img src="http://2.bp.blogspot.com/-xdZxDAStMTc/UQRY8nCnmuI/AAAAAAAAW98/sqp4pXNrlE8/s1600/Backbone_logo_logo_only.png"/>
        </div>
        <div class="back face center">
          <p>Backbone ToDo App</p>
          <p>A little about the project.<a href="/pages/bb_todo.html">BackBone</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6" id="f1_container">
      <div id="f1_card" class="shadow">
        <div class="front face">
          <img src="http://i.stack.imgur.com/Lroxq.jpg"/>
        </div>
        <div class="back face center">
          <p>Cool Isomer Art</p>
          <p>A little about the project.<a href="/pages/bb_todo.html">Isomer</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


