{{!< default}}
<div id="root"></div>
<img class="header" src ="/images/20141207-DSC07932 copy.jpg">

  <h1 class="main">Laurie Linz Software Developer</h1>
  </img>

  <div class="poftfolioboxes">
    <a href="/pages/todo.html" class="box hvr-float-shadow">ToDo App</a>

    <a href="/pages/multimedia.html" class="bluebox hvr-pulse-grow">Multimedia</a>

    <a href="/pages/D3page.html" class="purplebox hvr-buzz">D3 Library</a>

    <a href="/pages/threeExample.html" class="redbox hvr-sweep-to-right">THREE Example</a>

    <a href="/pages/bb_todo.html" class="greenbox hvr-ripple-in">BackBone ToDo App</a>
    
  </div>
