{{!< default}}
<div class="homepage-container">
  <div class="header">
    <img src ="/images/20141207-DSC07932copy.jpg">
    <h1 class="main">Laurie Linz Software Developer</h1></img>
  </div>
  <div class="cards-container">
    <div class="background"></div>
    <div class="card">
      <div class="inner_card">
        <div class="front face">
          <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
        </div>
        <div class="back face center">
          <p class="small">Vanilla JS</p>
          <p class="small">A little about the project.</p>
          <a href="/pages/todo.html">ToDo</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="inner_card">
        <div class="front face">
          <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
        </div>
        <div class="back face center">
          <p class="small">MultiMedia is fun</p>
          <p class="small">A little about the project.</p>
          <a href="/pages/MultiMedia.html">Multimedia</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="inner_card">
        <div class="front face">
          <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
        </div>
        <div class="back face center">
          <p class="small">D3 example</p>
          <p class="small">A little about project.</p>
          <a href="/pages/threeExample.html">THREE example</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="inner_card">
        <div class="front face">
          <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
        </div>
        <div class="back face center">
          <p class="small">THREE JS</p>
          <p class="small">A little about the project.</p>
          <a href="/pages/threeExample.html">THREE JS</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="inner_card">
        <div class="front face">
          <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
        </div>
        <div class="back face center">
          <p class="small">Backbone ToDo</p>
          <p class="small">A little about the project.</p>
          <a href="/pages/bb_todo.html">BackBone</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="inner_card">
        <div class="front face">
          <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
        </div>
        <div class="back face center">
          <p class="small">Cool Isomer Art</p>
          <p class="small">A little about the project.</p>
          <a href="/pages/bb_todo.html">Isomer</a>
        </div>
      </div>
    </div>   
  </div>
  <div class="next">
    
  </div>
</div>


