{{!< default}}
<div class="homepage-container">
  <div class="header">
    <img src ="/images/20141207-DSC07932copy.jpg">
    <h1 class="main">Laurie Linz Software Developer</h1></img>
  </div>
  <div class="cards-container">
    <div class="background"></div>
    
    <a href="/pages/r_todo.html">
      <div class="card">
        <div class="inner_card">
          <div class="front face">
            <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
          </div>
          <div class="back face center">
            <p class="small">React Todo</p>
            <p class="small">In order to help me to learn javascript, I rebuilt this app using different frameworks. This is the version that uses React.</p>
          </div>
        </div>
      </div>
    </a>

    <a href="/pages/emailValidation.html">
      <div class="card">
        <div class="inner_card">
          <div class="front face">
            <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
          </div>
          <div class="back face center">
            <p class="small">Email Validations</p>
            <p class="small">Validating email addresses is an integral part of any application. I chose this method to learn how to add this functionality to my own applications. </p>
          </div>
        </div>
      </div>
    </a>

    <a href="/pages/sketch.html">
      <div class="card">
        <div class="inner_card">
          <div class="front face">
            <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
          </div>
          <div class="back face center">
            <p class="small">Sketch</p>
            <p class="small">I think it is really fun to play with Sketch.io. This was me simply having fun and playing with it.</p>
          </div>
        </div>
      </div>
    </a>

    <a href="/pages/threeExample.html">
      <div class="card">
        <div class="inner_card">
          <div class="front face">
            <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
          </div>
          <div class="back face center">
            <p class="small">THREE JS</p>
            <p class="small">Three.js is a javascript library used for creating and displaying 3D animated graphics.</p>
          </div>
        </div>
      </div>
    </a>

    <a href="/pages/photosearch.html">
      <div class="card">
        <div class="inner_card">
          <div class="front face">
            <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
          </div>
          <div class="back face center">
            <p class="small">A Flickr Photo Search</p>
            <p class="small">Using external APIs and services is crucial to developing apps. This was a simple implementation using the Flickr API.</p>
          </div>
        </div>
      </div>
    </a>

    <a href="/pages/game.html">
      <div class="card">
        <div class="inner_card">
          <div class="front face">
            <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
          </div>
          <div class="back face center">
            <p class="small">A Game</p>
            <p class="small">A little about the project.</p>
          </div>
        </div>
      </div> 
    </a>  
  </div>
  <div class="next">
    
  </div>
</div>


