{{!< default}}
<div class="homepage-container">
  <div class="header">
    <img src ="/images/20141207-DSC07932copy.jpg">
    <h1 class="main">Laurie Linz Software Developer</h1></img>
  </div>
  <div class="cards-container">
    <div class="background"></div>
    <div class="card">
      <div class="inner_card">
        <div class="front face">
          <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
        </div>
        <div class="back face center">
          <p>Vanilla JS</p>
          <p>A little about the project.<a href="/pages/todo.html">ToDo</a></p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="inner_card">
        <div class="front face">
          <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
        </div>
        <div class="back face center">
          <p>MultiMedia is fun</p>
          <p>A little about the project.<a href="/pages/MultiMedia.html">Multimedia</a></p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="inner_card">
        <div class="front face">
          <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
        </div>
        <div class="back face center">
          <p>D3 example</p>
          <p>A little about project.<a href="/pages/threeExample.html">THREE example</a></p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="inner_card">
        <div class="front face">
          <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
        </div>
        <div class="back face center">
          <p>THREE JS</p>
          <p>A little about the project.<a href="/pages/threeExample.html">THREE JS</a></p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="inner_card">
        <div class="front face">
          <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
        </div>
        <div class="back face center">
          <p>Backbone ToDo App</p>
          <p>A little about the project.<a href="/pages/bb_todo.html">BackBone</a></p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="inner_card">
        <div class="front face">
          <img class="card_image" src="https://s-media-cache-ak0.pinimg.com/236x/62/bc/00/62bc00d76f45fc4d0be4617a8a34380f.jpg"/>
        </div>
        <div class="back face center">
          <p>Cool Isomer Art</p>
          <p>A little about the project.<a href="/pages/bb_todo.html">Isomer</a></p>
        </div>
      </div>
    </div>   
  </div>
</div>


